<label for="article" class="animation">Artikel:</label><br>
<input type="text" class="inputs" id="article" name="article" value="<%= article.name %>" required><br>
<label for="quantity" class="animation">Hoeveelheid:</label><br>
<input type="text" class="inputs" id="quantity" name="quantity" value="<%= article.quantity %>" required><br>
<label for="requestedBy" class="animation">Voor: </label><br>
<input type="text" placeholder="(bv: Thuis, Bruno, ...)" class="inputs" id="requestedBy" name="requestedBy" value="<%= article.requestedBy%>" required><br>
<label for="comment" class="animation">Opmerking:</label><br>
<input type="text" class="inputs" id="comment" name="comment" value="<%= article.comment %>"><br>
<label for="winkel" class="animation">Winkel: </label><br>
<select name="store" id="store" class="inputs">
    <option value="/">/</option>
    <% stores.forEach(store => { %>
    <option value="<%= store.store %>"><%= store.store %></option>
    <% }) %>
</select>
<br><input type="submit" id="submitButton" class="inputs">