<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Bag</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <h1>Shopping Bag</h1>
        <a href="pages/new">Artikel Toevoegen</a>
        <a href="pages/settings">Instellingen</a>
        <select name="filter" id="filter">
            <option value="all">Alles</option>
            <% stores.forEach(store => { %>
                <option value="<%= store.store %>"><%= store.store %></option>
            <% }) %>
        </select>
        <% articles.forEach(article => { %>
            <div class="articles">
                <a href="pages/<%= article.id %>">
                    <h2><%= article.name %></h2>
                    <h4><%= article.quantity %>, <%= article.requestedBy %>, <%= article.store %></h4>
                </a>
                <form action="pages/<%=article.id%>?_method=DELETE" method="POST">
                    <button id="deleteButton" class="button">delete</button>
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>